@model SchoolManagementSystem.Data.Entities.Department

@{
    ViewData["Title"] = "Create";
}


<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Add Department</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-action="Index">Department</a>
                        </li>
                        <li class="breadcrumb-item active">Add Department</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="col-12">
                                    <h5 class="form-title">
                                        <span>Department Details</span>
                                    </h5>
                                </div>
                                @* <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Department ID</label>
                                        <input asp-for="DepartmentId" type="text" class="form-control" />
                                        <span asp-validation-for="DepartmentId" class="text-danger"></span>
                                    </div>
                                </div> *@
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Department Name</label>
                                        <input asp-for="Department1" type="text" class="form-control" />
                                        <span asp-validation-for="Department1" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Head of Department</label>
                                        <input asp-for="HeadOfDepartment" type="text" class="form-control" />
                                        <span asp-validation-for="HeadOfDepartment" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Department Start Date</label>
                                        <input asp-for="DepartmentStartDate" type="date" class="form-control" />
                                        <span asp-validation-for="DepartmentStartDate" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>No of Students</label>
                                        <input asp-for="NumberOfStudent" type="number" class="form-control" />
                                        <span asp-validation-for="NumberOfStudent" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button type="submit" value="Create" class="btn btn-primary">
                                        Submit
                                    </button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

