@model SchoolManagementSystem.Data.Entities.Department

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Department</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DepartmentId" />
            <div class="form-group">
                <label asp-for="Department1" class="control-label"></label>
                <input asp-for="Department1" class="form-control" />
                <span asp-validation-for="Department1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeadOfDepartment" class="control-label"></label>
                <input asp-for="HeadOfDepartment" class="form-control" />
                <span asp-validation-for="HeadOfDepartment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentStartDate" class="control-label"></label>
                <input asp-for="DepartmentStartDate" class="form-control" />
                <span asp-validation-for="DepartmentStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfStudent" class="control-label"></label>
                <input asp-for="NumberOfStudent" class="form-control" />
                <span asp-validation-for="NumberOfStudent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
